<div class="row">
  <div class="col-md-8">
  <h1>Welcome to the home page.</h1>
  
  <br/>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam,
  nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!
  
  orem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!
  
  orem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!

  
  <p>
    <a id="news"></a><h1>News</h1>
  </p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!</p>
  
  </div>
  
  <div class="col-md-4"><br>
    <div class="query-box">test<br>
    <br><br><br>
    </div>
   <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!
 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, illo, magnam, nam quaerat beatae laborum ab dicta nobis asperiores aspernatur aliquam rerum laudantium nihil possimus veritatis error obcaecati sunt animi!

  </div>
</div>