<%= stylesheet_link_tag "packages" %>

<div class="headtitle">
    <h1>Packages</h1>
</div>

<div id="packages">
  <div class="row">
    <div class="col-sm-4">
      <ul class="pricing-column">
        <li class="title">Basic</li>
        <li class="price">$49.99</li>
        <li class="description">Description</li>
        <li class="description">5 Potatoes</li>
        <li class="description">10 Apples</li>
        <li class="description">40 Users</li>
        <li class="description">25GB Storage</li>
        <li><a class="btn btn-default" href="./">Buy Now</a></li>
      </ul>
      </div>
        
    <div class="col-sm-4">
      <ul class="pricing-column">
        <li class="title">Standard</li>
        <li class="price">$99.99</li>
        <li class="description">Description</li>
        <li class="description">5 Potatoes</li>
        <li class="description">10 Apples</li>
        <li class="description">40 Users</li>
        <li class="description">25GB Storage</li>
        <li><a class="btn btn-info" href="./">Buy Now</a></li>
      </ul>
      </div>
        
    <div class="col-sm-4">  
      <ul class="pricing-column">
        <li class="title">Premium</li>
        <li class="price">$199.99</li>
        <li class="description">Description</li>
        <li class="description">5 Potatoes</li>
        <li class="description">10 Apples</li>
        <li class="description">40 Users</li>
        <li class="description">25GB Storage</li>
        <li><a class="btn btn-primary" href="./">Buy Now</a></li>
      </ul>
    </div>
  </div>
</div>

<br/><br/><br/><br/><br/><br/>

